*{margin: 0; padding: 0;}
header{
	background-color: #000;
}
nav img{
	position: relative;
	margin: 3px 10px 2px 18px;
	width: 8%;
}
nav img:hover{
	outline: 1px solid #fff;
	box-sizing: content-box;
}

.options-1, .options-2, .options-3{
	position: absolute;
	margin: 4px 0px;
	color: #fff;
	text-decoration: none;
	padding: 20px 40px;
}
.logo{
	left: 1%;
}
#busqueda{
	position: absolute;
	width: 33%;
	height: 6%;
	margin: 15px 0 0;
	left: 13%;
	font-family: cursive;
	font-size: 25px;
}
.lupa{
	position: absolute;
	width: 5%;
	height: 6.5%;
	margin: 15px 0 0;
	left: 47%;
	font-family: cursive;
	font-size: 25px;
}
.options-1{
	left: 56.5%;
}
.options-2{
	left: 67.8%;
}
.carrito{
	padding: 3.5px 0;
	left: 67.5%;
}
.options-3{
	left: 88%;
}
.options-1:hover, .options-2:hover, .options-3:hover{
	outline: 1px solid #fff;
	box-sizing: content-box;
}