{% extends "layout.html" %}

{% block head %}
        <title>Audifonos Razer</title>
{% endblock%}


{% block body %}
        <br>
        <br>
        <br>
        <div align="center">

        <img width="340px" alt="audifonos" src="{{ url_for('static', filename='img_productos/audifonos.jpg') }}">
        <h1>{{nombre}}</h1>
        <h2>S/. {{precio}}</h2>
        <h2>Caracteristicas</h2>
        <li>Sonido envolvente</li>
        <li>Microfono con cancelacion de ruido</li>
        <li>Marco de aluminio resistente</li>
        <li>Estilo perfecto para amantes de lo rosado</li>
        <br>
        <form action="{{ url_for('send_car')}}" method="post">
            <input type="submit" value="AGREGAR AL CARRITO"><br>
            <input type="text" value="0" name="object" style="visibility: hidden;">
        </form>

        </div>
        <br>
        <br>
        <br>
{% endblock%}
