<!DOCTYPE html>
<html>
  <head>

        <title>Audifonos Razer</title>
    </head>

    <body style="background-color: lightgrey; "></body>
    <body>
        <div align="center">
        <h2>   </h2>
        <a href="pantalla_principal.html">
        <img width="340px" alt="audifonos" src="{{ url_for('static', filename='img_productos/audifonos.jpg') }}">
        <h1>Audifonos Razer Kraken Kitty</h1>
        <h2>S/. 200</h2>
        <h2>Caracteristicas</h2>
        <li>Sonido envolvente</li>
        <li>Microfono con cancelacion de ruido</li>
        <li>Marco de aluminio resistente</li>
        <li>Estilo perfecto para amantes de lo rosado</li>
        <br>
        <form>
            <a href="cart">
                <input type="button" value="AGREGAR AL CARRITO">
            </a>
        </form>

        </div>

    </body>
          
</html>
