{% extends "layout.html" %}

{% block head %}
        <title>Cámara Logitech C920</title>
{% endblock%}


{% block body %}
        <br>
        <br>
        <br>
        <div align="center">

        <img width="340px" alt="camara" src="{{ url_for('static', filename='img_productos/camara.jpg') }}">
        <h1>{{nombre}}</h1>
        <h2>S/. {{precio}}</h2>
        <h2>Caracteristicas</h2>
        <li>Video Full HD (1080p a 30 fps)</li>
        <li>Campo visual de 78°</li>
        <li>Corrección de iluminación automática HD</li>
        <li>Audio estéreo con dos micrófonos</li>
        <br>
        <form action="{{ url_for('send_car')}}" method="post">
            <input type="submit" value="AGREGAR AL CARRITO"><br>
        <input type="text" value="1" name="object" style="visibility: hidden;">
        </form>

        </div>
        <br>
        <br>
        <br>
{% endblock%}