<!DOCTYPE html>
<html>
  <head>

        <title>Cámara Logitech C920</title>
    </head>

    <body style="background-color: lightgrey; "></body>
    <body>
        <div align="center">
        <h2>   </h2>

        <img width="340px" alt="camara" src="{{ url_for('static', filename='img_productos/camara.jpg') }}">
        <h1>Cámara Logitech C920</h1>
        <h2>S/. 150</h2>
        <h2>Caracteristicas</h2>
        <li>Video Full HD (1080p a 30 fps)</li>
        <li>Campo visual de 78°</li>
        <li>Corrección de iluminación automática HD</li>
        <li>Audio estéreo con dos micrófonos</li>
        <br>
        <form>
            <a href="cart">
                <input type="button" value="AGREGAR AL CARRITO">
            </a>
        </form>

        </div>

    </body>

</html>
