{% extends "layout.html" %}

{% block head %}
{% endblock%}

{% block body %}
		<img src="{{ url_for('static', filename='imagenes/soporte.jpg')}}" alt="soporte" width="50%" height="50%">

		
		<H1>Nos encanta tener una opinión de nuestros clientes, por lo que, <br>
		agradeceríamos cualquier duda o reclamo.Escribelo en el foro.<br>
		Estamos pendientes a cualquier observación.<br></H1>

		<H2>Amaxon.</H2><br>

		<script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
                document.querySelector('#new-task').onsubmit = () => {
                    const li = document.createElement('li');
                    if (document.querySelector('#task').value === "") {
                        return false;
                    }
                    li.innerHTML = document.querySelector('#task').value;
                    document.querySelector('#tasks').append(li);
                    document.querySelector('#task').value = '';
                    document.querySelector("#b_submit").disabled = true;
                    return false;
                };

            });
        </script>
        <title>Forum</title>
    </head>
    <body>
		
        <h1>Pon tu opinión aquí:</h1>
        <ul id="tasks">
        </ul>
        <form id="new-task">
            <input id="task" autocomplete="off" autofocus placeholder="Opinión" type="text">
            <input id="b_submit" type="submit">
        </form>
    </body>
	<br>
    <hr /> 
	<h3> COMENTARIOS </h3>
	<br><br>

{% endblock %}
