{% extends "layout.html" %}

{% block head %}
{% endblock%}

{% block body %}
		<H1>Información de la Página</H1><br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		<H1>Misión</H1>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		<H1>Visión</H1>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		1<br>
		</p>
		<H2>Amaxon Copyright Rights ©</H2>
		
{% endblock %}
