{% extends "layout.html" %}

{% block head %}
        <title>Iphone 13 pro max</title>
{% endblock%}


{% block body %}
        <br>
        <br>
        <br>
        <div align="center">

        <img width="340px" alt="iphone" src="{{ url_for('static', filename='img_productos/iphone.jpg') }}">
        <h1>Iphone 13 pro max</h1>
        <h2>S/. 6500</h2>
        <h2>Caracteristicas</h2>
        <li>Chip A15 Bionic</li>
        <li>Pantalla OLED de 6.7 pulgadas</li>
        <li>Carga inalambrica hasta 15 W</li>
        <li>Versiones de 128GB, 256GB y 512GB</li>
        <li>iOS 15</li>
        <br>
        <form>
            <a href="..\cart">
                <input type="button" value="AGREGAR AL CARRITO">
            </a>
        </form>

        </div>
        <br>
        <br>
        <br>    
{% endblock%}
