{% extends "layout.html" %}

{% block head %}
        <title>Laptop HP</title>
{% endblock%}


{% block body %}
        <br>
        <br>
        <br>
        <div align="center">

        <img width="340px" alt="laptop" src="{{ url_for('static', filename='img_productos/laptop.jpg') }}">
        <h1>{{nombre}}</h1>
        <h2>S/. {{precio}}</h2>
        <h2>Caracteristicas</h2>
        <li>Procesador: Core i5 10300H</li>
        <li>Pantalla: 15.6" 1920x1080p</li>
        <li>Memoria Ram: 8GB DDR4</li>
        <li>Almacenamiento: 1TB HDD</li>
        <br>
        <form action="{{ url_for('send_car')}}" method="post">
            <input type="submit" value="AGREGAR AL CARRITO"><br>
            <input type="text" value="2" name="object" style="visibility: hidden;">
        </form>

        </div>
        <br>
        <br>
        <br>        
{% endblock%}
