<!DOCTYPE html>
<html>
  <head>

        <title>Laptop HP</title>

        {% block head %}
        {% endblock %}

    </head>

    <body style="background-color: lightgrey; "></body>
    <body>
        <div align="center">
        <h2>   </h2>

        <img width="340px" alt="laptop" src="{{ url_for('static', filename='img_productos/laptop.jpg') }}">
        <h1>Laptop HP A255</h1>
        <h2>S/. 2500</h2>
        <h2>Caracteristicas</h2>
        <li>Procesador: Core i5 10300H</li>
        <li>Pantalla: 15.6" 1920x1080p</li>
        <li>Memoria Ram: 8GB DDR4</li>
        <li>Almacenamiento: 1TB HDD</li>
        <br>
        <form>
            <a href="cart">
                <input type="button" value="AGREGAR AL CARRITO">
            </a>
        </form>

        </div>

        {% block body %}
        {% endblock %}

    </body>

</html>
