<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login_style.css') }}">
  <title>Amaxon-Login</title>
</head>

<body>
  <div class="Login">
    
    <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}" class="imagen" >

    <header>
      <h1>Iniciar sesión</h1> 
    </header>

    
    <label>Usuario:</label>
    <form action="{{ url_for('validate_user')}}" method="post"> 
      <input type="text" placeholder="Igresa tu Usuario " name="user">

      <label>Contraseña:</label>
      <input type="contraseña" placeholder="Igresa tu Contraseña " name="password">

      
      <input type="submit" value="Login">
      
    </form>

    <a href="#" class="opciones" >¿Olvidaste tu contraseña?</a>
    <a href="register" class="opciones">Crear cuenta nueva</a>

  </div>

</body>

</html>