{% extends "layout.html" %}

{% block head %}
        <title>Microfono HyperX QuadCast</title>
{% endblock%}


{% block body %}
        <br>
        <br>
        <br>
        <div align="center">

        <img width="340px" alt="microfono" src="{{ url_for('static', filename='img_productos/microfono.jpg') }}">
        <h1>Microfono HyperX QuadCast</h1>
        <h2>S/. 350</h2>
        <h2>Caracteristicas</h2>
        <li>Efectos de iluminacion RGB dinámicos personalizables</li>
        <li>Suspensión elástica antivibración</li>
        <li>Sensor de silenciamiento con indicador LED</li>
        <li>Filtro antipop interno</li>
        <li>Compatibilidad con múltiples dispositivos y programas</li>
        <br>
        <form>
            <a href="..\cart">
                <input type="button" value="AGREGAR AL CARRITO">
            </a>
        </form>

        </div>
        <br>
        <br>
        <br>
{% endblock %}

