<!--Pantalla Principal (productos)-->
{% extends "layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="p" align="center">
      
      <hr></hr>
      <h2>   </h2>
      <h1>Llena tu carrito del mejor Hardware</h1><br><br>

      
      <img width="280px" alt="laptop" src="{{ url_for('static', filename='img_productos/laptop.jpg') }}">
      <br>
      <form>
        <a href="/pantalla_principal/laptop">
          <input type="button" value="   LAPTOP HP CORE I5   ">
        </a>
      </form><br>

      <img width="280px" alt="iphone" src="{{ url_for('static', filename='img_productos/iphone.jpg') }}">
      <br>
      <form>
        <a href="/pantalla_principal/iphone">
          <input type="button" value="   IPHONE 13 PRO MAX   ">
        </a>
      </form><br>

      <img width="280px" alt="audifonos" src="{{ url_for('static', filename='img_productos/audifonos.jpg') }}">
      <br>
      <form>
        <a href="/pantalla_principal/audifonos">
          <input type="button" value="   AUDIFONOS RAZER KRAKEN KITTY   ">
        </a>
      </form><br>

      <img width="280px" alt="camara" src="{{ url_for('static', filename='img_productos/camara.jpg') }}">
      <br>
      <form>
        <a href="/pantalla_principal/camara">
          <input type="button" value="   CÁMARA LOGITECH C920   ">
        </a>
      </form><br>

      <img width="280px" alt="microfono" src="{{ url_for('static', filename='img_productos/microfono.jpg') }}">
      <br>
      <form>
        <a href="/pantalla_principal/microfono">
          <input type="button" value="   MICROFONO HYPERX QUADCAST   ">
        </a>
      </form><br>
    </div>

{% endblock %}