<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="Register_style.css">
  <title>Amaxon-Register</title>
</head>

<body>
  <div class="Registro">
    
    <img src="imagenes/logo.jpg" class="imagen" >

    <header>
      <h1>Registrate!</h1> 
    </header>

    <label>Nombre de Usuario:</label>
    <input type="text" placeholder="Igresa tu Usuario ">

    <label>Nueva Contraseña:</label>
    <input type="contraseña" placeholder="Igresa tu Contraseña ">

    <label>Confirma tu Contraseña:</label>
    <input type="contraseña" placeholder="Confirma tu Contraseña ">

    <input type="submit" value="Crear cuenta">

    <a targe="_blank" href="Login.html">Iniciar Sesión</a>


  </div>

</body>

</html>