<!DOCTYPE html>
<html>
<head>

  <script> 
  document.addEventListener('DOMContentLoaded', () => {
  document.querySelector("#botoncrearcuenta").disabled = true;

  /*
  document.querySelector("#alert-error-button").onclick = () => {
    document.querySelector("#alert-error").style.visibility =  "hidden";
  }
  */

  function comprobar(){
    if (document.querySelector("#registrousuario").value.length > 0 && document.querySelector("#registrocontraseña1").value.length > 0 && document.querySelector("#registrocontraseña2").value.length > 0 ){
      if(document.querySelector("#registrocontraseña1").value == document.querySelector("#registrocontraseña2").value ){
        document.querySelector("#botoncrearcuenta").style.background="#ffc107";
        document.querySelector("#botoncrearcuenta").style.color="black";

        document.querySelector("#botoncrearcuenta").disabled = false;
      } 
    }
    else
      document.querySelector("#botoncrearcuenta").disabled = true;

  }
  
  document.querySelector("#registrousuario" ).onkeyup = () => {
    document.querySelector("#botoncrearcuenta").style.background="#b80f22";
    document.querySelector("#botoncrearcuenta").style.color="#fff";
    comprobar()
  };
  document.querySelector("#registrocontraseña1" ).onkeyup = () => {
    document.querySelector("#botoncrearcuenta").style.background="#b80f22";
    document.querySelector("#botoncrearcuenta").style.color="#fff";
    comprobar()
  };
  document.querySelector("#registrocontraseña2" ).onkeyup = () => {
    document.querySelector("#botoncrearcuenta").style.background="#b80f22";
    document.querySelector("#botoncrearcuenta").style.color="#fff";
    comprobar()
  };
  
  });
  </script>


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Register_style.css') }}">
  <title>Amaxon-Register</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
    <script type="text/javascript">
      var msg = "Error user name."; //{{ message }};
      alert(msg);
    </script>
  {% endfor %}

  <div class="Registro">
    
    <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}" class="imagen" >

    <header>
      <h1>Registrate!</h1> 
    </header>

    <label>Nombre de Usuario:</label>

    <form action="{{ url_for('newUser')}}" method="post">
      <input id="registrousuario" type="text" placeholder="Igresa tu Usuario " name="user">

      <label>Nueva Contraseña:</label>
      <input id="registrocontraseña1" type="contraseña" placeholder="Igresa tu Contraseña " name="password">

      <label>Confirma tu Contraseña:</label>
      <input id= "registrocontraseña2" type="contraseña" placeholder="Confirma tu Contraseña " name="password_2"> 

      <input id="botoncrearcuenta" type="submit" value="Crear cuenta">
    </form>

    <a targe="_blank" href="login">Iniciar Sesión</a>


  </div>

</body>

</html>