{% extends "layout.html" %}

{% block head %}

<title>Carrito de Compras</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='imagenes/carro.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart_style.css') }}">

{% endblock%}



{% block body %}

        <div class="container">
        <h1>Carrito de Compras</h1>
        <div class="cart">
            <div class="products">

                {% for producto in productos %}
                    <div class="product">
                        <img src="{{ url_for('static', filename='img_productos/')}}{{ producto['imagen'] }}">
                        <div class="product-info">
                            <h3 class="product-name">{{ producto["producto"] }}</h3>
                            <h4 class="product-price">S/. {{  producto["precio"] }}</h4>
                            <h4 class="product-offer">0%</h4>
                            <p class="product-quantity">Cantidad: <input value="1" name="">
                            <p class="product-remove">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <span class="remove">Quitar</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        <div class="cart-total">
            <p>
                <span>Precio Total</span>
                <span>S/. 2850</span>
            </p>
            <p>
                <span>Cantidad de Productos</span>
                <span>7</span>
            </p>

            <!--Descuento si se puso en las clases product-offer-->
            <p>
                <span>Estas Ahorrando</span>
                <span>S/. 0</span>
            </p>
            
            <a href="#">Ir a Pagar</a>
        </div>
        </div>
    </div>
    


{% endblock%}