<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../static/my_bar_style.css">
      <script src="https://kit.fontawesome.com/16a7bdab0a.js" crossorigin="anonymous"></script>
        <script>
            /*
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
                document.querySelector('#new-task').onsubmit = () => {
                    const li = document.createElement('li');
                    if (document.querySelector('#task').value === "") {
                        return false;
                    }
                    li.innerHTML = document.querySelector('#task').value;
                    document.querySelector('#tasks').append(li);
                    document.querySelector('#task').value = '';
                    document.querySelector("#b_submit").disabled = true;
                    return false;
                };

            });
            */
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0 && document.querySelector("#task").value.length < 251)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
            });
        </script>
        <title>Forum</title>
        <style type="text/css">
            .botton {
                margin: 2em;
            }
            .comment {
                font-size: 1em;
            }
            .top{
                background-color: #999;
            }
        </style>
 </head>

  <body>

    <header>
      <nav>
        <a href="pantalla_principal.html"><img src="../static/imagenes/logo.jpg" class="logo"></a>

        <input type="text" id="busqueda" value="">
        <button class="lupa" onclick="document.getElementById('busqueda').value = ''">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <a href="forum.html" class="options-1"><b>Forum</b></a>
        <a href="info.html" class="options-2"><b>Info</b></a>

        
        <a href="cart.html"><img src="../static/imagenes/carrito.jpg" class="carrito"></a>

        <a href="login.html" class="options-3"><b>Sign Out</b></a>

      </nav>  
    </header>
    <div class="top">
    <center>
        <br>
		<img src="../static/imagenes/soporte.jpg" alt="soporte" width="20%" height="20%">

		<H2> Nos encanta tener una opinión de nuestros clientes, por lo que, agradeceríamos cualquier duda o reclamo.Escribelo en el foro. Estamos pendientes a cualquier observación.<br> Amaxon.</H2><br>
    </center>
    </div>
	
    <div class="botton">
        <h4> PON TU COMENTARIO AQUÍ:</h4>

        <form id="new-task">
            <input id="task" autocomplete="off" autofocus placeholder="Opinión" type="text" name="comment">
            <input id="b_submit" type="submit" value="Publicar">
        </form>

    	<br>
    	<h4> COMENTARIOS: </h4>
    	<br>
        <ul>

        </ul>
    </div>
    <br>

</body>
</html>
