<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../static/my_bar_style.css">
      <script src="https://kit.fontawesome.com/16a7bdab0a.js" crossorigin="anonymous"></script>
      <script type="text/javascript">
            function logout(){
                const request = new XMLHttpRequest();
                request.open('POST', 'http://127.0.0.1:5000/logout');
                request.send("logout post");
            
                request.onload = () => {
                    location.href = "login.html";
                }
            }
            document.addEventListener('DOMContentLoaded', () => {
                const request = new XMLHttpRequest();
                request.open('POST', 'http://127.0.0.1:5000/forum_data');
                request.onload = () => {
                  const data = JSON.parse(request.responseText);
                    if(data.success){
                      var datos = data.data;
                      for(let i in datos){
                        var li = document.createElement("li");
                        li.innerHTML = datos[i]["username"] + ": " + datos[i]["comment"];
                        document.querySelector(".lista_comentarios").appendChild(li);
                      }
                    }
                }

                request.send("get request");

                document.querySelector("#form").onsubmit = () => {
                    const request = new XMLHttpRequest();
                    const cm = document.querySelector("#task").value;
                    request.open('POST', 'http://127.0.0.1:5000/forum_send');

                    request.onload = () => {
                        const data = JSON.parse(request.responseText);
                        if(data.success){
                            location.reload();
                        }
                        else{
                            location.href = "login.html";
                        }
                    }

                    const data = new FormData();
                    data.append("comment", cm);
                    request.send(data);
                    return false;
                  };

                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0 && document.querySelector("#task").value.length < 251)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
            });
        </script>

        <title>Forum</title>

        <style type="text/css">
            .botton {
                margin: 2em;
            }
            .comment {
                font-size: 1em;
            }
            .top{
                background-color: #999;
            }
        </style>
 </head>

  <body>

    <header>
      <nav>
        <a href="pantalla_principal.html"><img src="../static/imagenes/logo.jpg" class="logo"></a>

        <input type="text" id="busqueda" value="">
        <button class="lupa" onclick="document.getElementById('busqueda').value = ''">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <a href="forum.html" class="options-1"><b>Forum</b></a>
        <a href="info.html" class="options-2"><b>Info</b></a>

        
        <a href="cart.html"><img src="../static/imagenes/carrito.jpg" class="carrito"></a>

        <b class="options-3" onclick="logout()">Sign Out</b>

      </nav>  
    </header>
    <div class="top">
    <center>
        <br>
		<img src="../static/imagenes/soporte.jpg" alt="soporte" width="20%" height="20%">

		<H2> Nos encanta tener una opinión de nuestros clientes, por lo que, agradeceríamos cualquier duda o reclamo.Escribelo en el foro. Estamos pendientes a cualquier observación.<br> Amaxon.</H2><br>
    </center>
    </div>
	
    <div class="botton">
        <h4> PON TU COMENTARIO AQUÍ:</h4>

        <form id="form">
            <input id="task" autocomplete="off" autofocus placeholder="Opinión" type="text">
            <input id="b_submit" type="submit" value="Publicar">
        </form>

    	<br>
    	<h4> COMENTARIOS: </h4>
    	<br>
        <ul class="lista_comentarios">

        </ul>
    </div>
    <br>

</body>
</html>
