{% extends "layout.html" %}

{% block head %}
        <script>
            /*
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
                document.querySelector('#new-task').onsubmit = () => {
                    const li = document.createElement('li');
                    if (document.querySelector('#task').value === "") {
                        return false;
                    }
                    li.innerHTML = document.querySelector('#task').value;
                    document.querySelector('#tasks').append(li);
                    document.querySelector('#task').value = '';
                    document.querySelector("#b_submit").disabled = true;
                    return false;
                };

            });
            */
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector("#b_submit").disabled = true;
                document.querySelector("#task").onkeyup = () => {
                    if (document.querySelector("#task").value.length > 0 && document.querySelector("#task").value.length < 251)
                        document.querySelector("#b_submit").disabled = false;
                    else
                        document.querySelector("#b_submit").disabled = true;
                }
            });
        </script>
        <title>Forum</title>
        <style type="text/css">
            .botton {
                margin: 2em;
            }
            .comment {
                font-size: 1em;
            }
            .top{
                background-color: #999;
            }
        </style>
{% endblock%}

{% block body %}
    <div class="top">
    <center>
        <br>
		<img src="{{ url_for('static', filename='imagenes/soporte.jpg')}}" alt="soporte" width="20%" height="20%">

		<H2> Nos encanta tener una opinión de nuestros clientes, por lo que, agradeceríamos cualquier duda o reclamo.Escribelo en el foro. Estamos pendientes a cualquier observación.<br> Amaxon.</H2><br>
    </center>
    </div>
	
    <div class="botton">
        <h4> PON TU COMENTARIO AQUÍ:</h4>

        <form id="new-task" action="{{ url_for('newComment')}}" method="post">
            <input id="task" autocomplete="off" autofocus placeholder="Opinión" type="text" name="comment">
            <input id="b_submit" type="submit" value="Publicar">
        </form>

    	<br>
    	<h4> COMENTARIOS: </h4>
    	<br>
        <ul>
        {% for comment in comments %}
            <li class="comment"> <b>{{ comment['username'] }}:</b> {{ comment['comment'] }}</li>
        {% endfor %}
        </ul>
    </div>
    <br>

{% endblock %}
