<!DOCTYPE html>
<html>
<head>
  <script> 
  
  document.addEventListener('DOMContentLoaded', () => {
  document.querySelector("#iniciar").disabled = true;

  function login(){
    if (document.querySelector("#usuario").value.length > 0 && document.querySelector("#contraseña").value.length > 0){
      document.querySelector("#iniciar").style.background="#ffc107";
      document.querySelector("#iniciar").style.color="black";

      document.querySelector("#iniciar").disabled = false;
    }
    else
    document.querySelector("#iniciar").disabled = true;


  }
  
  document.querySelector("#usuario").onkeyup = () => {
    document.querySelector("#iniciar").style.background="#b80f22";
    document.querySelector("#iniciar").style.color="#fff";
    login()
  };
  document.querySelector("#contraseña").onkeyup = () => {
    document.querySelector("#iniciar").style.background="#b80f22";
    document.querySelector("#iniciar").style.color="#fff";
    login()
  };

  
});
  </script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login_style.css') }}">
  <title>Amaxon-Login</title>
</head>

<body>
  <div class="Login">
    
    <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}" class="imagen" >

    <header>
      <h1>Iniciar sesión</h1> 
    </header>

    
    <label>Usuario:</label>
    <form action="{{ url_for('validateUser')}}" method="post"> 
      <input id="usuario" type="text" placeholder="Ingresa tu Usuario " name="user">

      <label>Contraseña:</label>
      <input id="contraseña" type="contraseña" placeholder="Ingresa tu Contraseña " name="password">

      
      <input id="iniciar" type="submit" value="Login">
      
    </form>

    <a href="#" class="opciones" >¿Olvidaste tu contraseña?</a>
    <a href="register" class="opciones">Crear cuenta nueva</a>

  </div>

</body>

</html>