<!--Pantalla Principal (productos)-->
{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages() %}
      <script type="text/javascript">
        var msg = "El producto ya existe en la base de datos :)";
        alert(msg);
      </script>
    {% endfor %}
    <div class="p" align="center">
      
      <hr></hr>
      <h2>   </h2>
      <br>
      <br>
      <u><h1>Llena tu carrito del mejor Hardware</h1></u><br><br>

      {% for producto in productos %}
        <br>
        <img width="280px" alt="laptop" src="{{ url_for('static', filename='img_productos/') }}{{ producto['imagen'] }}">
        <br>
        <form>
          <a href="/pantalla_principal/{{ producto['product_ID'] }}">
            <input type="button" value="{{ producto['producto'] }}">
          </a>
        </form>
      {% endfor %}

    {% if dominio == 'amaxon' %}
      <section class="form-register-products">
        <h4>Formulario de Registro de Productos</h4>
        <p> Aqui puedes ingresar tus propios productos!! </p>

        <form action="{{ url_for('newProduct')}}" method="post">
          <input class="controls" type="text" name="producto" id="nombre" placeholders="Ingrese el nombre del producto">
          <input class="controls" type="text" name="precio" id="precio" placeholders="Ingrese el precio del producto">
          <input class="controls" type="text" name="imagen" id="descripcion" placeholders="Ingrese el nombre de la imagen(img.jpg, img.png)">
          <textarea placeholders="descripcion" name="descripcion"></textarea><br>
          <p>
          <input class="botons" type="submit" value="Registrar">
          </p>
        </form>
      </section>

    <br>
    <a href="mysql_preview"><input class="botons" type="button" value="Data Base Show"></a>

    {% endif %}

    <br>
    <br>
    <br>
  </div>
  </div>
{% endblock %}
