<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../static/my_bar_style.css">
      <script src="https://kit.fontawesome.com/16a7bdab0a.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <title>Amaxon</title>
      <script type="text/javascript">
        function logout(){
          const request = new XMLHttpRequest();
          request.open('POST', 'http://127.0.0.1:5000/logout');
          request.send("logout post");
        
          request.onload = () => {
            location.href = "login.html";
          }
        }

        function select_product(id_product){
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/main/select');
            const data = new FormData();
            data.append('product_id', id_product);
            data.append('action', 'select');
            request.send(data);

            request.onload = () => {
                location.href = "productos_link.html";
            }
        }

        function edit_product(id_product){
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/main/edit/'+id_product);
            request.send({msg:"deleting product"});
        
            request.onload = () => {
                location.reload();
            }
        }

        function delete_product(id_product){
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/main/del/'+id_product);
            request.send({msg:"deleting product"});
        
            request.onload = () => {
                location.reload();
            }
        }

        function go_db_show(){
          location.href = "mysql_preview.html";
        }

        document.addEventListener('DOMContentLoaded', () => {
            const request = new XMLHttpRequest();
            request.open('POST', 'http://127.0.0.1:5000/main_load');
            request.onload = () => {
              const data = JSON.parse(request.responseText);
              if(data.success){
                var productos = data.products;
                for(let i in productos){

                    var img = document.createElement("img");
                    img.setAttribute("src","../static/img_productos/" + productos[i].imagen);
                    img.setAttribute("width","280px");

                    var select = document.createElement("input");
                    select.setAttribute("type","button");
                    select.setAttribute("class", "botons");
                    select.setAttribute("value",productos[i].producto);
                    select.setAttribute("onclick","select_product("+productos[i].product_ID+")");

                    for(let i=0; i<4; i++){
                      document.querySelector(".products").appendChild(document.createElement("br"));
                    }

                    document.querySelector(".products").appendChild(img);

                    for(let i=0; i<2; i++){
                      document.querySelector(".products").appendChild(document.createElement("br"));
                    }
                    
                    document.querySelector(".products").appendChild(select);

                    if(data.admi){
                      var op = document.createElement("input");
                      op.setAttribute("type","button");
                      op.setAttribute("class", "botons");
                      op.setAttribute("value", "Edit product");
                      //op.setAttribute("onclick","edit_product("+productos[i].product_ID+")");
                      document.querySelector(".products").appendChild(op);
                      op = document.createElement("input");
                      op.setAttribute("class", "botons");
                      op.setAttribute("type","button");
                      op.setAttribute("value", "Delete product");
                      //op.setAttribute("onclick","delete_product("+productos[i].product_ID+")");
                      document.querySelector(".products").appendChild(op);
                    }
                }

                if(data.admi){
                  var section = document.createElement("section");
                  section.setAttribute("class", "form-register-products");

                  var title= document.createElement("h4");
                  title.innerHTML = "Formulario de Registro de Productos";
                  section.appendChild(title);

                  var p = document.createElement("p");
                  p.innerHTML = " Aqui puedes ingresar tus propios productos!!! ";
                  section.appendChild(p);

                  var form = document.createElement("form");
                  form.setAttribute("class", "form-admi");

                  var op = document.createElement("input");
                  op.setAttribute("type","text");
                  op.setAttribute("class", "controls");
                  op.setAttribute("id", "producto");
                  op.setAttribute("placeholder", "nombre del producto");
                  form.appendChild(op);

                  var op = document.createElement("input");
                  op.setAttribute("type","text");
                  op.setAttribute("class", "controls");
                  op.setAttribute("id", "precio");
                  op.setAttribute("placeholder", "precio a pagar");
                  form.appendChild(op);

                  var op = document.createElement("input");
                  op.setAttribute("type","text");
                  op.setAttribute("class", "controls");
                  op.setAttribute("id", "imagen");
                  op.setAttribute("placeholder", "ingrese imagen(.jpg, .png, .jpeg)");
                  form.appendChild(op);

                  var op = document.createElement("textarea");
                  op.setAttribute("style", "width:90%; heigth:70%;");
                  op.setAttribute("class", "controls");
                  op.setAttribute("id", "descripcion");
                  op.setAttribute("placeholder", "Ingrese una breve descripcion, puede saltar de linea para nueva biñeta");
                  var div = document.createElement("div");
                  div.appendChild(op);
                  form.appendChild(div);

                  var op = document.createElement("input");
                  op.setAttribute("type","submit");
                  op.setAttribute("class", "botons");
                  op.setAttribute("id", "registar-admi");
                  op.setAttribute("value", " Resgistrar producto ");
                  form.appendChild(op);
                  

                  var op = document.createElement("input");
                  op.setAttribute("type","button");
                  op.setAttribute("class", "botons");
                  op.setAttribute("value", " Mysql DataBase show ");
                  op.setAttribute("onclick", "go_db_show()");
                  form.appendChild(op);

                  section.appendChild(form);
                  document.querySelector(".products").appendChild(section);
                }
                for(let i=0; i<3; i++){
                  document.querySelector(".products").appendChild(document.createElement("br"));
                }
              }
          }

        request.send("get request");

        });

      </script>
  </head>

  <body>
    <header>
      <nav>
        <a href="pantalla_principal.html"><img src="../static/imagenes/logo.jpg" class="logo"></a>

        <input type="text" id="busqueda" value="">
        <button class="lupa" onclick="document.getElementById('busqueda').value = ''">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <a href="forum.html" class="options-1"><b>Forum</b></a>
        <a href="info.html" class="options-2"><b>Info</b></a>

        
        <a href="cart.html"><img src="../static/imagenes/carrito.jpg" class="carrito"></a>
        

        <b class="options-3" onclick="logout()">Sign Out</b>

      </nav>  
    </header>

    <div class="products" align="center">
      <br>
      <br>
      <u style="color:white;"><h1 style="background: black; color:white; width: 50%; padding: 40px 5px;">Llena tu carrito del mejor Hardware</h1></u>

    </div>
  </body>
</html>